[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"
  VITE_API_URL = "https://vmi2848672.contaboserver.net/dpa"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
